[2018-05-26 19:58] zoharargaman opened #1 "how do i install this?"

[2018-06-12 10:00] lolo101 commented on #1
There is no installation. The application is a runnable jar.

So just download a release : https://github.com/lolo101/MsgViewer/releases

And run the command specified in the README : `java -jar msgviewer.jar` (you need to have **java** installed)

Do not hesitate to ask if you need more details.

[2018-06-22 20:55] lolo101 commented on #1
Did you downloaded a release ? For instance [release 1.2.0](https://github.com/lolo101/MsgViewer/releases/download/v1.2.0/msgviewer.jar), that's a jar file.

However you can also build a jar file from the sources with the following command (you need **Maven** installed on your system) :
Be sure to be in the base directory (the one containing the README.md)
[code]
The jar should be generated as *MS

[2018-06-23 07:08] zoharargaman commented on #1
Niceness! thank you!

initially somehow i downloaded a zip file and not jar.

anyway its great. i added a Bash to my desktop to load it up as i cant launch like a regular app. do you have any better idea?

anyway it's great thank you

[2018-06-23 07:08] #1 closed

[2018-08-16 16:37] whaozl opened #2 "I use MsgViewer to convert msg to html, but it has rtf code in the html for example cea2c8edd1c5bada"

[2018-08-19 23:13] lolo101 commented on #2
I don't understand the issue...
Do you mean RTF like in [Rich Text Format](https://en.wikipedia.org/wiki/Rich_Text_Format) ?
Or do you mean there are badly encoded characters in the rendered HTML ?

Could you provide an example with a MSG causing the issue and the expected HTML ?

[2018-08-20 03:30] whaozl commented on #2
yeah, and [outlook-message-parser](https://github.com/bbottema/outlook-message-parser/issues/3) help me solove this problem. but MsgViewer also has this problem.
link：https://pan.baidu.com/s/1H3FZswvrCRMem4d_zGIyyQ password：dl9s

[2018-08-20 17:09] lolo101 commented on #2
Ok thanks, I could reproduce your issue.
I can see many strange stuff like `<span lang=EN-US style='font-family:"cea2c8edd1c5bada",sans-serif;color:black'>`
I see there has been a nice investigation at https://github.com/bbottema/outlook-message-parser/issues/3 I'm going to read it carefully. As far as I understand it's related to missing DBCS support.

[2018-11-15 13:11] lolo101 opened #3 "MSGViewer fails to convert .msg email to either .mbox or *.eml on OS X High Sierra"
Runtime: Java(TM) SE Runtime Environment 10+46
System: Mac OS X version 10.13.6 running on x86_64; UTF-8; en_US (nb)

+++

    MSGViewer cmd line mail format conversion fails with the following error:

$ java -jar "/Users/user1/NetBeansProjects/MSGViewer/dist/MSGViewer.jar" -msg2mbox *.msg
2018-11-12 15:18:26,128 INFO (CLIFileConverter.java:103): conversion source file: FW_ City of Santa Cruz - Br

[2018-11-15 15:23] lolo101 commented on #3
javax.activation has been deprecated in JDK9 : https://docs.oracle.com/javase/9/docs/api/java.activation-summary.html

[2019-02-06 14:40] skalg opened #4 "Error Message"
I'm getting the following error message

[2019-04-02 11:35] bootcd opened #5 "In russian locale Windows I can`t get attachment file with cyrillic name."
File with cyrillic name saves to  \users\appdata......\tmp\filename.doc (for examp) but can`t open it.
I have this output in cmd:

2019-04-02 14:29:12,872 INFO  (ViewerPanel.java:665): <a href="file://%D0%9A%D0%
B0%D1%80%D1%82%D0%BE%D1%87%D0%BA%D0%B0+%D0%A2%D0%94+%D0%90%D0%BA%D1%82.doc"> app
lication/octet-stream
2019-04-02 14:29:12,872 INFO  (ViewerPanel.java:665): <a href="file://Eaton+12CB
350.

[2019-04-02 11:37] bootcd commented on #5
BTW, In russian locale MacOS prog works good!

[2019-04-04 12:57] lolo101 commented on #5
Hi @bootcd and thank you for your interest in the project.

I see from the log you provided that the "open" operation was delegated to the system.

Did you get any message dialog ?
Are you able to open the file "Карточка+ТД+Акт.doc" (is it its correct name ?) by double-clicking it in Windows ?

[2019-04-04 13:14] lolo101 commented on #4
Hi @skalg and thank you for using the project.

It looks like you are parsing some invalid RTF input.

Could you explain how to reproduce the error and ideally provide an example file ?

[2019-04-04 14:31] lolo101 commented on #4
Ok I could manage to reproduce the issue.

I'm working on it...

[2019-04-04 15:22] lolo101 commented on #4
I believe these are padding bytes that should be dropped.
See : https://poi.apache.org/apidocs/4.0/org/apache/poi/hmef/CompressedRTF.html#decompress-java.io.InputStream-java.io.OutputStream-

[2019-04-04 15:31] #4 closed

[2019-04-04 17:23] lolo101 commented on #4
@skalg please don't hesitate to try [v1.3.0](https://github.com/lolo101/MsgViewer/releases/tag/v1.3.0) and reopen this issue if error persist

[2019-04-08 19:18] bootcd commented on #5
Hi,lolo101
Yes i can open this file in Windows by duobleclick. It may be opened by MS Word or etc without troubles.
When i use Msgviewer, i see attachments links in window. Whe i clicking link to english named attachment file, it opens with assotiated program. I have log in cmd and last string like that:

<code>2019-04-05 14:14:58,054 DEBUG (ViewerPanel.java:499): shell exec returned: 1</code>

Bu

[2019-04-11 13:59] skalg commented on #4
It's working !! Thank you !!

[2019-04-15 13:34] #5 closed

[2019-04-15 13:58] lolo101 commented on #5
Hi ! Feel free to use [release 1.4.0](https://github.com/lolo101/MsgViewer/releases/tag/msgviewer-1.4.0) and tell me if problem persists

[2019-04-29 06:35] lolo101 commented on #2
Last commit fixed detection of escaped hexa character in RTF body.

However that does not fix this issue since you now have unicode FFFD character instead of a string of hexa, but still that's not the expected text.

[2019-04-30 10:13] lolo101 commented on #2
commit 06737b1ecb756c64d4679657a8c1de10a48b5cc3 fixed the issue :)
I'm going to release version 1.6.0
![RTF_fixed](https://user-images.githubusercontent.com/555864/56955189-fee4d780-6b40-11e9-9426-44aaf980a384.png)

[2019-04-30 10:13] #2 closed

[2019-05-02 09:50] thomasphansen opened #6 "Error: java.lang.ClassNotFoundException: javax.activation.DataSource"
Hello, thanks for the tool!

### Environment
- [X] Operating System: Linux Mint 19.1 64 bits
- [X] MsgViewer version: 1.6
- [X] Java version:
[code]
 also tested with
[code]
### Bug Description:
While reading this file ([20190502_094613_1556783173.7038.msg.zip](https://github.com/lolo101/MsgViewer/files/3137271/20190502_094613_1556783173.7038.msg.zip) - zipped due to github format restrictions) I

[2019-05-03 14:51] lolo101 commented on #6
Hi @thomasphansen  and thank you very much for this detailed report and the attached file to reproduce.

Yes there are issues related to the cleanup of the JDK as you can also see on #3

I'm going to investigate on the unexplained IndexOutOfBoundsException and think about a durable fix about deprecated modules

[2019-05-06 07:06] whaozl commented on #2
This is a very great things. thank you very much.

[2019-05-16 15:39] icegood opened #7 "no instruction from command line"
no instruction for command line build.
No notes about support of formatted text

[2019-05-17 16:29] lolo101 commented on #7
Hello @icegood and thanks for your interest in the project.

I'm not sure to fully understand your issue. The project is a classic Maven project : in order to build it from command line you need to make sure you have a JDK 11 and Maven installed and run
[code]
You can find a complete documentation on the official Maven site: https://maven.apache.org/

What do you mean with support of formatted tex

[2019-05-20 08:38] lolo101 commented on #6
Hello @thomasphansen

The IndexOutOfBoundsException has been fixed in 33616b0b7884e855540da9d6f3d7026ae661d77d but now you have NullPointerException instead :)

Actually there is a systematic issue with MSG files that have embedded MSG with recipients.
This originates from the fact that fixed-length properties are not supported as you can read here: https://github.com/lolo101/MsgViewer/blob/master

[2019-05-20 09:22] thomasphansen commented on #6
Hello @lolo101
Thanks for the info! I'll be waiting! :)

[2019-05-21 12:47] #7 closed

[2019-06-13 21:56] #6 closed

[2019-06-13 21:59] lolo101 commented on #6
Hi @thomasphansen
Your issue should be fixed with the last commit.
Be sure to use the "uber-jar", you should not get missing module trouble with it.
Let me know if any error persists

[2019-06-17 19:25] lolo101 commented on #6
Hello @thomasphansen
Please give a try to [v1.7.0](https://github.com/lolo101/MsgViewer/releases/tag/msgviewer-1.7.0) ;)

[2019-07-02 15:49] skalg opened #8 "Feature Request : Add print option"
Love this software, would it be hard to add a print option ?

That's the only thing missing for me.

Thank you for your fixes and to keeping it updated.

[2019-07-03 12:29] skalg opened #9 "Cannot open PDF file attachment"
With 1.7.0 I cannot open PDF files attachment. It's working fine with 1.6.0.

There's no error message or anything, it's just not opening.

Thank you

[2019-07-07 15:50] lolo101 commented on #9
Hello @skalg

You are right, it looks like a regression has found its way in the code :)
However note that attachment handling is platform-specific. After the fix is published if the problem persist please reopen the issue and specify the platform and messages from the console related to the file opening

[2019-07-07 15:51] #9 closed

[2019-07-07 15:52] lolo101 commented on #3
Should not happen with the uber-jar

[2019-07-07 15:52] #3 closed

[2019-07-07 15:59] lolo101 commented on #8
Hi @skalg and thank you for your continuous interest in the projet ;)
Indeed that would be a useful option and the JDK has solutions for this feature.
I'll look into this

[2019-09-30 09:13] stadler opened #10 "Build is broken"
Hey
Unfortunately despite having Maven and Java 11+ installed the build does not work because of dependencies that are not available in maven central.
Could you make those public or remove them from the project?

[code]

[2019-10-16 12:36] lolo101 commented on #10
Hi @stadler and thank you for your involvment.

Yes it is true that the dependencies are not in Central
However they are embedded in the project and the POM is configured to embark them in the dependencies repository as you can see here : https://github.com/lolo101/MsgViewer/blob/master/MSGViewer/pom.xml#L11

Maybe you used some special configuration for Maven ?
Can you build with the debug flag a

[2019-11-04 15:49] skalg opened #11 "An error occured : Unclosed block"
I'm getting this error when i'm trying to open a specific msg file. " An error occured : Unclosed block "

The msg file is working with Outlook. Let me know if you need anything to help.

Thanks

[2019-11-05 08:11] lolo101 commented on #11
Hi @skalg, is it possible to have the msg file to reproduce the issue ? You may send it privately to my email you can find in the git log ;)

[2019-11-05 17:03] lolo101 commented on #11
In addition, is there any stack trace in the console ?

[2019-11-08 10:53] lolo101 commented on #11
Looks like you have an issue with the RTF content of your msg.
Is it possible to share the RTF content in order to reproduce the issue ?

[2019-12-09 16:42] skalg commented on #11
I've lost the msg file that gave me this error. Sorry i'll reopen if i get it back. Thank you

[2020-01-12 12:17] lolo101 opened #12 "Move to log4j 2"
log4j 1.2.27 has security flaw and might not be maintained anymore.

Migrate to log4j 2 in order to fix security issue & keep up to date

[2020-01-15 09:39] #10 closed

[2020-01-25 22:04] #12 closed

[2020-01-29 03:51] curldapps opened #15 ".MSG Conversion to JSON"
Hi there -

Thanks for this awesome library! By chance, is there functionality here to convert a .msg file's contents to JSON?

[2020-02-04 17:48] lolo101 commented on #15
Hi @curldapps and thanks for your support :)

No there is currently no such feature.
What is your need exactly ? The content of a .msg file may take many shapes. How exactly would you expect the JSON to be structured ?

[2020-02-04 18:27] curldapps commented on #15
Thanks for the reply!

I built a utility that processes the contents of emails and one component of that is named entity recognition on the body and headers. To feed that named entity recognition model with data it can digest, I use a utility that converts the standard EML mime type emails to JSON and then perform my own processing from there as JSON is much easier to work with.

If I could find a

[2020-02-07 15:11] lolo101 commented on #15
With MsgViewer you can convert .MSG to .EML and then use the utility to obtain the desired JSON.

This functionality looks too specific for me to be a high priority.

However I will look into it when I have time :)

[2020-02-10 19:44] curldapps commented on #15
Thanks for the response. That was my plan :) sounds great.

In that vein, I wanted to ask you know where or not I can run MSGViewer as a subprocess in NodeJS --OR-- since I am not a Java guy, what it would take to wrap this in a RESTful API so I can pass .msg and get back .eml files? I know this is not really in scope for you but still thankful for any advice you'd have.

[2020-02-11 13:49] lolo101 commented on #15
I dont know much about NodeJS, I'm not in position to give you an answer about that point.
MsgViewer as a service looks like a very sexy idea :) I think it's not much work. Just expose a web service using your favorite framework and either embark MsgViewer as a dependency or invoke it through CLI
It may be useful to isolate the GUI part and the service part into different modules. I'll think about

[2020-02-24 20:20] lolo101 commented on #11
@skalg sent me a .msg file that reproduce the issue.
Exception occurs in CSS parser, so maybe an issue with CSS instead of RTF ? Investigating...

[2020-02-24 20:27] lolo101 commented on #11
This message fragment looks suspicious :
[code]

[2020-02-26 20:39] curldapps commented on #15
I am working on exposing the msg2Eml functionality as a REST API :) will keep you posted

[2020-03-03 15:54] payadav opened #16 "Help Needed !!"
Hi,

I am trying to extract Parsing and Msg convertion ability from this code. My requirement is build a REST api interface to convert .msg file in to .eml file.
I am more or less able to convert .msg file to Message object using MsgParser like below

MsgParser parser = new MsgParser();
Message msg = parser.parseMsg(new File("C:\\Users\\xyz\\workspace\\projects\\demo\\xyz.msg"));

However i am fac

[2020-03-04 15:09] payadav commented on #16
Do you think you would be able to help me on this ?

[2020-03-08 21:34] lolo101 commented on #16
Hi @payadav, this is funny, you have the exact same requirement as in #15

MsgWriter's purpose is to write .msg files. You may want to look at class MessageParserFactory, especially around line 63 : https://github.com/lolo101/MsgViewer/blob/01c8db511085eefb8cdd6d13fafeac58592c3ed0/MSGViewer/src/main/java/net/sourceforge/MSGViewer/factory/MessageParserFactory.java

For a hint about how to write a .

[2020-08-01 21:36] #8 closed

[2020-08-18 13:21] skalg commented on #8
Thank you !! :)

[2020-09-15 11:05] thomasphansen commented on #6
Hi @lolo101,
I finally had the chance to test it! Works pretty fine, I've just upgraded to your latest 1.11 version!
Thanks for the very nice work! :)

[2020-10-08 07:07] lolo101 opened #19 "Non-ASCII file name incorrectly encoded on saving as mbox files"
How to reproduce :
1) Open "cyril.msg" (in the test resources folder)
2) Save as mbox
3) Open the saved mbox message
Exception :
[code]
mbox file content :
[code]
Looks like "Save as mbox" does not properly handle UTF-8 filenames

[2020-10-08 07:09] lolo101 opened #20 "Save as mbox does not properly handle UTF-8 filenames"
How to reproduce :
1) Open "cyril.msg" (in the test resources folder)
2) Save as mbox
3) Open the saved mbox message
Exception :
[code]
mbox file content :
[code]
Looks like "Save as mbox" does not properly handle UTF-8 filenames

[2020-10-08 07:10] #20 closed

[2020-10-09 07:08] lolo101 commented on #19
Hints about encoding here : https://stackoverflow.com/questions/28452599/javamail-attachment-filename-not-displaying-utf-8-characters-correctly
Now lets take care of filename decoding when opening the .mbox file, the filename displays `=?UTF-8?B?0JrQsNGA0YLQvtGH0LrQsCDQotCUINCQ0LrRgi5kb2N4?=`

[2020-10-09 09:09] shershen08 opened #21 "javac: invalid target release: 11"
Any pointers what can be done to fix that ?

[code]

[2020-10-10 00:47] lolo101 commented on #19
See: https://tools.ietf.org/html/rfc2047
for details about that format

[2020-10-10 12:41] #19 closed

[2020-10-10 12:48] lolo101 commented on #21
Hi @shershen08 and thank you for giving MsgViewer a try!
I presume you are using an obsolete version of the JDK.
You can check the version with the following command: `java -version`
MsgViewer required JDK version 11 at least.

[2020-12-06 17:20] grahamperrin commented on #21
FreeBSD here, I can't remove OpenJDK 8 without also removing Apache Maven.

[code]

[2020-12-07 00:05] lolo101 commented on #21
Hi @grahamperrin !

I'm not used to FreeBSD but according to this https://www.freebsd.org/cgi/man.cgi?query=javavm&sektion=&manpath=freebsd-release-ports
you can have different Java versions installed simultaneously. All you would have to do is specifying which version you want to use with
`env JAVA_VERSION=11+`
Note there was a bug with java version > 1.9 that was fixed one year ago : https://bug

[2020-12-07 03:14] grahamperrin commented on #21
Multiple versions already installed:

[code]

– but I needed a nudge to read the relevant manual page.

So:

[code]

[code]

– but no matter; I have the BUILD SUCCESS above. Thanks 👍

[2020-12-07 03:50] grahamperrin commented on #21
Note to self: need to `sh` before `JAVA_VERSION="11" ⋯` commands e.g.

`JAVA_VERSION="11" java -jar /home/grahamperrin/Applications/MsgViewer/MSGViewer/target/msgviewer.jar`

![2020-12-07 03:36:49](https://user-images.githubusercontent.com/192271/101307241-e53c6380-383e-11eb-8fda-0e70521db4c3.png)
`

[2020-12-07 18:27] lolo101 commented on #21
Yeah, my syntax was approximative :)
Anyway, I'm happy you could run MsgViewer. Looking forward to reading your feedback

[2020-12-07 18:27] #21 closed

[2020-12-21 18:27] sphh opened #25 "Some skripts for system integration"
This is not an issue as such…

Thank you for taking this under your wing!! I have some scripts on my computer to start `msgviewer` back from the time, when `msgviewer` was only available on sourceforge. You might be interested in them. I cannot remember where I got them from (they are definitely not mine ;-) )

Here we go:
`cat /usr/local/share/MSGViewer/msgviewer`:
[code]

`cat /usr/local/share/M

[2020-12-22 12:08] lolo101 commented on #25
Hi @sphh and thanks for your suggestion.

Bash scripts & .desktop files are system-dependant whereas MsgViewer is intended to run on any system. However we could provide some installers for some systems as release assets.

[2020-12-22 12:22] sphh commented on #25
Yes, they are system dependent! That's why this is just a basic suggestion for a Linux system and an idea to get started. I am sure that there are many improvements, e.g. opening a message in `msgviewer` from a file manager …

[2021-03-16 18:32] #11 closed

[2021-03-16 18:33] skalg opened #26 "Cannot open a specific msg file"
For only on msg file i'm getting an error and this file is readable but MS Outlook.

[code]

[2021-03-18 14:32] lolo101 commented on #26
Related to #11
I believe the conditionals `<!--[if gte mso 9]>` are not handled by the parser.
Investigating this way

[2021-07-13 22:57] lolo101 opened #45 "Navigation menu enabled on wrong window on drag'n'drop"
Given a window with a eml or mbox message open, the Navigation menu is disabled.
When a user drag'n'drop a msg file on the window, a new window opens with the message content, but the Navigation menu is enabled in the previous window with the eml or mbox message

[2021-07-14 19:14] lolo101 opened #46 "Emoji not rendered in body panel"
Given a message with an emoji in an RTF content such as
[code]
HTML:
[code]
The emoji is not rendered in the panel, although it's proprely rendered in the console

[2021-07-15 00:52] #45 closed

[2021-07-19 14:56] lolo101 opened #47 "Multiple variable length values are not rendered in Message Navigator"
On the message navigator window, multiple variable length values (properties that end with "00000000", "00000001" ... are not displayed whereas they contain strings or arrays that might be displayed

[2021-07-19 23:46] #47 closed

[2021-07-28 09:35] LGMAM opened #48 "To: and From: missing"
Hi,
I am using a simple EML file to test the conversion to msg file, but it seems that To: and From: are missing after the conversion.

Content-Transfer-Encoding: quoted-printable
To: example@gmail.com
From: Foo <foo@example.com>
Subject: test
Content-Type: text/plain; charset="utf-8"
Mime-Version: 1.0

=C2=A1Test!

Using outlook 2019 I am getting this

![msg_conversion](https://user-images.github

[2021-07-30 08:51] lolo101 commented on #48
Hi @LGMAM and thank you for this report !
I'll investigate on this issue.

[2021-07-30 20:42] lolo101 commented on #48
Hi ! After some tests, the "From" element seems ok.
The "To" may be problematic because since there is no name (only email address) MSGViewer inserts a blank name (this needs to be fixed).
Your email client seems configured to display the name only, so "To" shows nothing and "From" shows "Foo".

[2021-07-31 16:27] lolo101 commented on #48
Ok I reproduced your screen with an Office client and converted the .eml with MSGViewer and also with the Office client to compare the structure of the .msg files.
I'll work toward improving MSGViewer conversion to better match the "official" one

[2021-08-02 07:15] lolo101 commented on #48
Ok. All the PidTagSentRepresenting* properties are missing whereas they are mandatory and should reflect the PidTagSender* properties

[2021-08-25 04:59] renovate[bot] opened #53 "Dependency Dashboard"
This issue contains a list of Renovate updates and their statuses.

## Open

These updates have all been created already. Click a checkbox below to force a retry/rebase of any.

 - [ ] [Update dependency org.mockito:mockito-core to v3.12.3](../pull/52)

---

- [ ] Check this box to trigger a request for Renovate to run again on this repository

[2021-09-08 15:13] icibranc opened #54 "Images cannot be seen using openjdk"
Hello!
I am using this software to open .msg files and I tested this with Java and it works fine! But when I use openjdk the images cannot be seen.
I was modifying the application parameters without success
Could you see this bug please?

Thanks in advance
Best regards.

[2021-09-13 13:45] lolo101 commented on #54
Hi @icibranc and many thanks to give MsgViewer a try :)

Could you be a bit more specific about the issue ?

I use OpenJdk myself and did not experienced the issue you are describing with images. Ideally could you provide a minimal .msg to reproduce the issue ? You can send it by private mail if you like.

Thank you

[2021-09-13 16:07] icibranc commented on #54
Hi @lolo101
Sorry for the little explanation I have given you.

I am attaching an image in which you can see that the images attached to the email are not visible in the header.
![Message](https://user-images.githubusercontent.com/55638363/133118237-005c6dc5-65d4-4d09-b191-2c6a96434630.png)

If I use java, this image can be seen.

Thanks in advance

[2021-09-13 21:38] lolo101 commented on #54
When you say "Java" you mean the Java runtime, as opposed to the Java JDK ?

Could you provide the versions of the runtime and of the JDK ? (just type `java -version` in the terminal for the runtime)

Do you see any stack trace in the console when you open the message ?

Thanks

[2021-09-13 22:18] lolo101 commented on #54
The thumbnail image is written as JPG. I don't know which ImageWriters are guaranteed to be part of the JDK.
=> Should add a log trace if no writer may be found for JPG when writing the thumbnail

[2021-10-06 19:49] skalg opened #59 "Replicated jpeg attachment"
Not always, but sometimes, the first image is replicated for all the other one.
The preview is replicated and also when the image is selected. We are not able to see the other images.

![2021-10-06_15-47-13 copy (1)](https://user-images.githubusercontent.com/3055793/136272916-8f0357c9-aaf8-4878-b427-e63649531aad.png)

[2021-10-30 23:01] #59 closed

[2021-10-30 23:05] lolo101 commented on #59
Hi ! Can you confirm the bug is fixed with the latest sources ? You need to build the project on your own. Is it ok for you ?

[2021-10-31 13:45] #48 closed

[2021-10-31 13:47] lolo101 commented on #48
Hi @LGMAM,

Is it possible for you to build the latest sources and check if the bug is fixed ?

Many thanks

[2021-11-01 18:43] skalg commented on #59
Yes it's working. Thank you !

[2021-11-15 00:18] lolo101 commented on #46
Looks like the RTFParser is missing the \u escape token
https://interoperability.blob.core.windows.net/files/MS-OXRTFEX/%5bMS-OXRTFEX%5d-210422.pdf

[2021-11-15 00:25] lolo101 commented on #46
With message "20190502_094613_1556783173.7038.msg"
In RTFParser.getHTML, groups.get(47) yields the suspect group

[2021-11-17 07:50] lolo101 commented on #46
RTF parser is not complete. Need to add unicode escape (\u)

[2021-12-27 21:37] lolo101 commented on #46
RTF parser could be further improved based on this specification: https://interoperability.blob.core.windows.net/files/Archive_References/[MSFT-RTF].pdf

[2022-01-02 13:45] lolo101 commented on #16
Hello @payadav, could you resolve the problem? I intend to close this issue in the next few days if it is no more needed

[2022-01-02 15:42] lolo101 commented on #26
The issue seems fixed by refactoring the RTF parser. However, the example message shows incorrect parsing of nester RTF groups:
[code]
Yields this invalid HTML: `Toto Mail &lt;<toto.mail@skynet.com&gt;>` because groups are treated as a list instead of a tree. Hence when a group closes, instead of popping the previous group the parser keeps using the same group leading to incorrect text content for

[2022-01-02 17:35] #26 closed

[2022-01-03 09:57] novaklu opened #78 "Compile MsgViewer on Windows 10"
Hello
I'm trying to compile MsgViewer on Windows 10 and I'm getting this error message. When compiling on Ubuntu 20.04 I do not get this message. My goal is to create an installation for Windows with InnoSetup. Creating the required path "file:/tmp/xxx.tmp/" on Windows did not help. I am using Apache NetBeams 12.5 and Java amazon-corretto-11.0.13.8.1-windows-x64.

Can I ask for advice on where to

[2022-01-03 10:10] lolo101 commented on #78
Hello @novaklu and thank you for your investment in MsgViewer :)

Unfortunately, the trace you posted doesn't display correctly: "expected: <> but was: <>" probably because the values contain brackets that are always problematic when shared on the web :)

Since you mentioned the path "file:/tmp/xxx.tmp" which is the default temporary path on Linux I suspect the test isn't consistently repeatable o

[2022-01-03 11:36] novaklu commented on #78
Hello
Thank you for your quick response. I apologize for the incomplete question.
I have run new tests and am sending clarifications.

-------------------------------------------------------
LOGS
------------------------------------------------------

--- maven-surefire-plugin:3.0.0-M5:test (default-test) @ msgviewer ---
file.encoding cannot be set as system property, use \<argLine\>-Dfile.encodin

[2022-01-04 21:36] lolo101 commented on #78
For a quick workaround, you can just add `@Disabled` annotation on `PrepareImagesTest` as it may take some time for me to find a proper way to inject the filesystem into PrepareImages to make the test repeatable

[2022-03-10 08:29] madjesti309 opened #89 "Deb package ubuntu compiling"
please help to compile msgviewer autoinstall deb package on ubuntu

[2022-03-17 15:34] lolo101 commented on #89
Hi @madjesti309 !

Could you please be more specific ?

Do you mean you are working on creating a deb package for MsgViewer ?

[2022-03-17 15:43] madjesti309 commented on #89
hi! @lolo101 deb package is required to autoinstall the program in ubuntu
sorry for my English

[2022-04-16 15:26] #78 closed

[2022-04-16 15:28] lolo101 commented on #78
@novaklu could you please check and reopen this issue if needed?

Thanks!

[2022-05-07 12:17] lolo101 commented on #15
Hi @curldapps!

It's been a long time and now I plan on exposing a web API to convert formats.
I'm not planning to do a REST API because there is no state to represent.
It would be a simple HTTP API where .msg are handled as bytes stream and .eml & .mbox as characters stream.

Could you progress on this subject so I don't have to reinvent the wheel?

[2022-05-17 14:05] minirich opened #100 "Class cast Exception while opening msg file"
I got an msg file with a single .jpg as an attachement, and when I tried to open it i got an error:
"class [B cannot be cast do class java.lang.String([B and java.lang.String are in module Java.base of loader 'bootstrap')
That is the msg file (remove the .txt) for replication [Poss fehlender Vertrag (1).msg.txt](https://github.com/lolo101/MsgViewer/files/8708901/Poss.fehlender.Vertrag.1.msg.txt)
<

[2022-05-20 16:07] lolo101 commented on #100
Hi @minirich and thank you for the report and the very helpful example !

I start investigating the issue

[2022-05-21 06:52] #100 closed

[2022-05-21 10:39] lolo101 opened #101 "Handle named properties"
Properties with ID above 0x8000 (inclusive) are named properties.

They are described in the Named Property Mapping Storage "__nameid_version1.0".

See [MS-OXMSG] 2.2.3

[2022-05-21 16:26] lolo101 commented on #100
Hi @minirich please give a try to release 1.8.5 and reopen the issue if the problem persists ;)

[2022-05-23 13:32] minirich commented on #100
Works like a charm.
Thanks for the prompt fix

[2022-06-19 07:05] philippulus opened #109 "Errors by installing Maven with $ ./mvnw package"
Dear community,

I had successfully installed MsgViewer on this same laptop before under Ubuntu 20.04.
Now I have done a fresh install of Ubuntu 22.04.

Ran the following command lines successfully:

$ sudo apt install openjdk-11-jre-headless
$ sudo apt install maven
$ sudo apt install git
$ git clone https://github.com/lolo101/MsgViewer.git
$ cd MsgViewer

Java is correctly installed:
$ java -ver

[2022-06-21 04:20] philippulus commented on #109
Have installed Ubuntu 22.04 on a second machine and here again the .MsgViewer folder is not created following these commands:

$ sudo apt install openjdk-11-jre-headless
$ sudo apt install maven
$ sudo apt install git
$ git clone https://github.com/lolo101/MsgViewer.git

Something broken here.

[2022-06-21 04:21] philippulus commented on #109
@lolo101 please have a loot

[2022-06-21 07:15] lolo101 commented on #109
As a first guess, I would say the issue is caused by the JRE version you choose: "headless" means "without display" hence the AWT libs are missing whereas MsgViewer requires them.

Even though MsgViewer can be used through CLI it still requires a headed environment because the GUI still needs to be tested and built.

However, I happen to have a Ubuntu 22 laptop at hand so I'll conduct some additio

[2022-06-21 08:17] oneryx opened #110 "java.lang.NullPointerException"
I got following exception while opening a msg file with attachments.
[code]

To track what's going on, I added a `System.out.printf` here
[code]

which got following output for my msg file
[code]
Some properties have different Ptyp from what have been defined in the code.
`0x3001` for instance, it is defined in `Pid.java` as `PidTagDisplayName(0x3001, PtypString)`, while what I got from log is `Pt

[2022-06-21 19:14] philippulus commented on #109
@lolo101

On the second machine I have installed the default java version, which is also version 11.

$ java --version
openjdk 11.0.15 2022-04-19
OpenJDK Runtime Environment (build 11.0.15+10-Ubuntu-0ubuntu0.22.04.1)
OpenJDK 64-Bit Server VM (build 11.0.15+10-Ubuntu-0ubuntu0.22.04.1, mixed mode, sharing)

[2022-06-22 10:45] lolo101 commented on #110
Hi @oneryx and thanks for the report !

Indeed the filter is necessary because you have properties with same id that differ only b their type. For instance
[code]
However I would not be surprised there are messages that do not follow Microsoft specs :)

The stacktrace shows the missing property is PidTagAttachFilename on a file attachment.
The logs shows:
[code]
I believe that's the culprit.

I'll

[2022-06-22 13:48] TryTryAgain opened #112 "Should/Could this work for oft as well?"
I wasn't able to find much on the topic of msg vs oft...

https://stackoverflow.com/questions/7957827/is-there-a-difference-between-the-outlook-msg-and-oft-file-formats

But what I did do was try and use MsgViewer without changing anything and it failed, but then I copied the file `cp test.oft test.msg` and tried again and then it worked flawlessly and made me very happy 👍 ...what a great app, hav

[2022-06-22 15:07] lolo101 commented on #109
On the second machine do you have the same error message `UnsatisfiedLink Can't load library: /usr/lib/jvm/java-11-openjdk-amd64/lib/libawt_xawt.so`?

I understood the issue is different because the `git` command doesn't even clone the project? Is there any error message?

[2022-06-22 15:14] lolo101 commented on #112
Hi @TryTryAgain and thanks for using MsgViewer and for this great contribution!

I didn't even know the OFT extension. If the format is the same as MSG I would gladly accept the pull request.

Indeed the Codacy error is non-blocking :)

[2022-06-22 15:16] #112 closed

[2022-06-23 09:50] lolo101 commented on #109
I'm surprised you only have headless versions proposed.

I would recommend **openjdk-11-jdk** or above

Could you check if that works for you?
`sudo apt install openjdk-11-jdk`

[2022-06-23 10:19] philippulus commented on #109
With the following installation sequence:

$ sudo apt install openjdk-11-jdk
$ sudo apt install maven
$ sudo apt install git
$ sudo git clone https://github.com/lolo101/MsgViewer.git
$ cd MsgViewer
$ ./mvnw package

At the end of the last description still receiving the following errors:

[INFO] Using 'UTF-8' encoding to copy filtered resources.
[INFO] Using 'UTF-8' encoding to copy filtered prope

[2022-06-23 14:12] lolo101 commented on #109
Ok, you have a permission issue because you ran `git clone` as sudoer, hence the project directory belongs to root, then you run `./mvnx package` as yourself so you don't have permission to create a new directory under the project directory, hence the message

Could you start over from an empty directory and run `git clone` and all following commands as yourself?

[2022-06-24 07:45] philippulus commented on #109
Brilliant, thank you Löic.

$ sudo apt install openjdk-11-jdk
$ sudo apt install maven
$ sudo apt install git
**$ git clone https://github.com/lolo101/MsgViewer.git
$ cd MsgViewer
$ ./mvnw package**

![unknown_002](https://user-images.githubusercontent.com/89039695/175488498-b137e750-a236-4a8a-b4cb-7e742b64611b.png)

Any idea how I can purge the root installation?
What about making this msg viewer

[2022-06-24 12:57] lolo101 commented on #109
Nice to hear that :)

You can remove the root installation simply by removing the directory (`sudo rm -rf <project directory owned by root>`)

There is already [an issue to create system-dependent installers](https://github.com/lolo101/MsgViewer/issues/25) and an OSX packager (that I don't maintain though).
By "real app" do you mean something that could be installed through a package manager like

[2022-06-24 13:28] philippulus commented on #109
The one issue I am encountering is that it is terminal dependent.
After opening the interface, I mostly close the terminal inadvertently, then MsgViewer also closes.
At least it would be nice to have an interface that remains open when closing the terminal.

In addition, I just reopened it and now I got this notification:
$ cd MsgViewer/MSGViewer/target
$ java -jar msgviewer.jar
WARNING: sun.refle

[2022-06-26 16:44] lolo101 commented on #110
Hi @oneryx,

I think I have a fix but I would like to test it on your message.
Is it possible for you to send me the problematic message or another message with the same issue so I can validate the fix?

Thank you very much!

[2022-06-27 01:16] oneryx commented on #110
Hi @lolo101,

I cannot publish the original email because it's from work, if you can create a new branch with fixes, I can help testing with it.

But I reproduced the issue by sending email with attachment in outlook, and save the received email as `test.msg` file.
I was trying to send the `test.msg` file to another account by email, outlook/gmail automatically converted it to `test.eml` file, the

[2022-06-29 13:59] andipabst opened #113 "Is there a license for the project?"
Thanks for continuing this great and helpful project!

I was looking into packaging it as a [Homebrew](https://brew.sh/) formula, to ease the installation.
But all projects included in the homebrew-core repository need to specify their license (see [the Formula Cookbook](https://docs.brew.sh/Formula-Cookbook#fill-in-the-license) for more information).

But I could not find any license information

[2022-07-02 09:10] #110 closed

[2022-07-02 09:12] lolo101 commented on #110
Thank you very much for the test message @oneryx. The fix could open the message without any error.

Don't hesitate to reopen the issue if needed

[2022-07-02 19:38] lolo101 commented on #113
You are right @andipabst, a license was indeed missing.

I just added the Unlicense. Hope it's ok for the homebrew-core repository?

[2022-07-03 00:19] oneryx commented on #110
Thanks a lot @lolo101, I tested with original .msg file I got the issue, it can be opened correctly with the fix :+1:

[2022-07-25 21:57] robertstrom opened #118 "Works on Windows 10 with openjdk 11 but is not opening for me in Linux"
Hello,

I was able to use the program successfully on a Windows 10 computer with the current openjdk 11 installed, but I am having issues launching the jar file on my Linux desktop computer. The Linux computer is reporting this for the java version

[code]
This is what I am seeing when I try to run it on my Pop!_OS (Ubuntu based) 22.04 system. Would love to have the ability to view .eml / .msg fil

[2022-07-26 01:50] robertstrom commented on #118
I just tested this on Kali Linux and it works on the latest version 2022.2

[code]

[code]
The Kali java version information is:

[code]

HTH / Thanks

[2022-08-02 02:11] lolo101 commented on #118
Hi @robertstrom and thank you for the feedback!

From the error message on your Pop!_OS box I guess the installed JRE is headless. MsgViewer requires a headed JRE.
Please could you check which version of the openjdk-11 is installed by using this command:
`apt list openjdk-11*`

[2022-08-04 13:16] robertstrom commented on #118
As you suggested, my system only had the openjdk-11-jdk-headless. I installed the openjdk-11-jdk and then was able to run the program without issue. Thank you very much!

[2022-08-04 17:49] lolo101 commented on #118
You're welcome ;)

[2022-08-04 17:49] #118 closed

[2022-08-15 09:41] thomasphansen opened #123 "Files with spaces in name..."
Hello,
First of all, thank you for maintaining this project, it's the only way to read msg files in linux! :)

I'd just like to report a small bug: if the target msg file has spaces (" ") in its name, then msgviewer will ignore all characters before the space and only read what is after the last space and the file extension. For example:

"This is a file with spaces.msg" will become "spaces.msg".

[2022-08-16 22:20] lolo101 commented on #123
Hi @thomasphansen and thank you for the message ;)

I'll take a look at the issue and let you know

[2022-08-16 22:40] lolo101 commented on #123
I'm sorry but I cannot reproduce the issue.
Are you using the last release of MsgViewer?
Can you be more specific about the use case? Is the issue occurring when you open a file through "Program/File Open..."?

[2022-08-17 16:33] lolo101 commented on #123
You're welcome! ;)

[2022-08-23 12:03] datsteves opened #124 "Some MSG Files cause 'Cannot invoke "String.length()" because "s" is null'"
Hey,
when I run this command (file at the bottom)
[code]
I get following error on mac and on ubuntu but without the `Cannot invoke "String.length()" because "s" is null`

[code]
This is only happening with some MSGs files.
Tested it with the current release and with a build of the master branch.

## System Info
[code]

## Files
Zipped Msg File:
[testing.zip](https://github.com/lolo101/MsgViewer/fi

[2022-08-26 14:54] lolo101 commented on #124
Hi @datsteves and thank you very much for using MsgViewer, for the report and for the test file :)
I'll try reproduce the error asap and let you know

[2022-08-27 07:03] #124 closed

[2022-08-27 07:04] lolo101 commented on #124
Hi @datsteves I just committed a fix on the master branch.
Could you confirm the issue is fixed for you ? Then I can make a release

[2022-08-29 13:42] datsteves commented on #124
thanks, @lolo101 for the fast response :)
just checked and yea it did fix it.
Found a few other issues while testing with other msgs (that were failing due to the same reason), but that is something I have to look more into. As it can be an issue with other tools that run after this conversion too.
When I find something particular where its a conversion issue I will open a new ticket :)

thanks ag

[2022-08-29 15:43] ThomasChr opened #125 "self compiled version won't start - setOpenURL - NoSuchMethodError"
Can anyone tell me why this happens?
[code]
Starting the Release Version works just fine.
I compiled with openjdk 18 on a fresh Ubuntu 22.04

[2022-08-29 19:13] lolo101 commented on #125
Hi @ThomasChr!
The method `HyperlinkExecuter.setOpenUrl` has been recently removed (not yet released)
However, the error you mention shows that the method is actually invoked in `at.redeye.Plugins.ShellExec.Plugin`
I didn't detect that invocation because the source files of that plugin are not part of MsgViewer.

I need to investigate this issue more closer because those plugins are still quite ob

[2022-08-29 19:46] ThomasChr commented on #125
I‘m very glad that it wasn‘t just my own fault :-)
Tell me if I can help in any way!

[2022-08-30 08:22] ThomasChr commented on #125
After your commits 9 hours ago the actual commit de3d082910822a3e69ae6d9da8df80aaf4a419c5 is working just fine.
I assume f99cb983403e592224573dddf6b4733babdda841 was the solution...

[2022-08-30 08:31] #125 closed

[2022-08-30 08:58] lolo101 commented on #125
Good to hear that your issue is actually fixed :)

Before making a release I need to push tests further because as far as I understand the code the ShellExec plugin is only activated on Windows.
If you run the master version on a Linux box it might work whereas it breaks on a Windows box.

[2022-08-30 09:08] ThomasChr commented on #125
Yes. Absolutely!
I compiled on Linux but ran on Windows.

[2022-08-30 11:56] datsteves opened #126 "msg2eml: lists are not correctly converted in the html version"
while testing the other issue, I found that msgs with lists are not converted correctly in the HTML version. Either the whole list item content is empty or just portions of it.

the text version is in the eml like this
[code]

the HTML is just
[code]

## Online Conversion Tool
To make sure that it wasn't an issue with the msg, I tested it with the first online conversion tool I could find for "msg

[2022-08-30 13:02] datsteves opened #127 "msg2eml: files with similar but longer names result in being duplicated"
When converting a msg with an inline image and an attachment with similar names, they result in being duplicated.

In this example, there are two images.
1. `2017-10-01 11.23.09.jpg` - a simple attachment
2. `2017-10-03 11.11.25.jpg` - used inline.

as they do have similar names and get shortened to the same filename, they then are the same base64.

you will find two times this part in it.
[code]

[2022-08-30 22:05] lolo101 commented on #126
I suspect the RTF grammar in MsgViewer is incomplete.
Maybe there are better alternatives than reinventing a RTF parser... I'll look for existing RTF parsing library

[2022-08-30 22:47] lolo101 commented on #126
The current implementation of the [[MS-OXRTFEX] specification](https://docs.microsoft.com/en-us/openspecs/exchange_server_protocols/ms-oxrtfex/c2e2d599-a558-46ee-b5e0-7ccea266cb47) is far from perfect
I believe the issue is a mismanagement of the \htmlrtf switch

[2022-08-31 15:53] lolo101 commented on #127
Both attachments have the same filename in the original message. However they have different long filenames.
Unfortunately it's the short filename that is used to temporarily store the image.
I'll fix this.
I'll also fix the content-ID. I just need to do that in a clean fashion suitable also for attachments without content-ID

[2022-08-31 21:09] #126 closed

[2022-08-31 21:11] lolo101 commented on #126
I know it would probably better to look for a RTF parsing library but this is a great opportunity to learn about RTF :yum:

@datsteves please let me know if this fix works for you

[2022-09-01 05:41] ThomasChr commented on #126
I like it :-)

[2022-09-01 10:25] lolo101 commented on #127
There is another issue which looks like a regression : the embedded image does not shows up

[2022-09-01 20:18] lolo101 opened #128 "Embedded images are not displayes in msg files"
May be caused by a ContentId being a random string instead of a filename with the extension.
However, the extension could be easily guessed from the MimeTag

[2022-09-01 20:19] lolo101 commented on #127
Created another issue for the embedded image: https://github.com/lolo101/MsgViewer/issues/128

[2022-09-01 22:20] lolo101 commented on #128
Actually, the root cause may be a 2Mb limit on image attachment

[2022-09-01 23:09] #128 closed

[2022-09-02 00:04] lolo101 commented on #127
Several changes have to be done
- in MBoxWriterViaJavaMail these lines are problematic
[code]
because `part.attachFile` invokes `part.setFileName` once again but with the filename returned by `dumpAttachment(fatt).toFile()`
- `dumpAttachment(FileAttachment).toFile()` behaves differently from `ViewerHelper.getTempFile(FileAttachment)`
the first one returns the short filename whereas the second one

[2022-09-04 16:15] lolo101 opened #129 "content-ID lost when converting from eml to msg"
When converting an eml with attachments with content-ID to msg, content-ID is lost

[2022-09-04 17:09] #129 closed

[2022-09-04 18:46] #127 closed

[2022-09-04 18:48] lolo101 commented on #127
@datsteves let me know if the last commit fixed all issues for you so I can make a new release

[2022-09-06 06:36] #113 closed

[2022-09-06 06:37] lolo101 commented on #113
@andipabst don't hesitate to reopen if the license doesn't suit your need

[2022-09-07 12:06] datsteves commented on #127
@lolo101 yep, both scenarios are working as expected now.
Thank you very much :)

[2022-09-16 12:42] datsteves opened #133 "msg2eml: html displays internal msg styling"
Some MSGs when converting to EML do get styling information that seems like it would be the internal ones from how MSG itself encodes it.

This is how it is looking in the EML (from the test file)

[code]

while the text version of it is just
[code]

for a workaround, I currently just check if `{\` is in the HTML version, and if so I just use the text version. which isn't ideal, but does work for

[2022-09-19 08:36] lolo101 commented on #133
Hi @datsteves and thank you for the report !
Every issue is important :)
The RTF content in the original .msg message is written as HTML content to the target .eml message. That's definitely a bug.

[2022-09-19 10:11] ThomasChr opened #136 "Exception: Encountered <C_ESC_STRING>, Expected <STRING>"
I've got a mail which throws the following error:
[code]

I can't provide the mail because it's private. Just wanted to open the issue so that we can track it. Maybe I'll find it myself.
Any ideas from the top of your head?

[2022-09-19 11:20] ThomasChr commented on #136
The error does come from this sign: https://www.codetable.net/decimal/8729
Here is one to test:
[code]

I'm trying to get closer to the culprit, but my RTF and Unicode knowledge does only go that far...

[2022-09-19 11:51] ThomasChr opened #137 "Argument -nosplash doesn't work"
At least on my machine...
I provided a pull request which fixed the problem for me.

[2022-09-19 13:39] ThomasChr commented on #136
Changing RTFParser.jj like this seems to do the trick:
[code]

This will change the File RTFParser.java from this:
[code]
to this:
[code]

I think the jj_consume_token(STRING) isn't needed in this case - but I may be way off here!

Outcome: No exception and Unicode char is shown, but I'm not quite sure that I'm absolutely correct here.

[2022-09-19 13:51] ThomasChr commented on #136
Okay, the error is gone, but it seems that the char has been duplicated now:
![image](https://user-images.githubusercontent.com/13014163/191033003-3e3c914b-81ad-4785-942e-1416876f8051.png)

So that doesn't seem to be the perfect fix.

[2022-09-19 21:35] #133 closed

[2022-09-19 22:40] lolo101 commented on #133
@datsteves please let me know of the fix doesn't work as intended. In particular with .msg with HTML encoded in RTF. Both HTML and RTF should be rendered when saved as .eml

[2022-09-20 10:03] ThomasChr commented on #136
Some more info from here: https://www.zopatista.com/python/2012/06/06/rtf-and-unicode/
[code]
So this Sequence is actually two times the same char.
One in the form \uUNICODECODEPOINT and one in the form \'WIN1252_CODEPOINT

I'm not quite sure why this is the case...

[2022-09-20 10:07] datsteves commented on #133
@lolo101 do I understand it right that both the RTF and the HTML Version should be included in the EML file for that test file in this ticket? if so, then the HTML Version is missing. but the RTF Version has now the right content type. Which already helps with the problem that I faced :)

[2022-09-20 11:10] ThomasChr commented on #136
A few infos how the parser works: https://stackoverflow.com/questions/17310377/what-does-consume-mean-in-javacc

[2022-09-20 11:27] ThomasChr commented on #136
Okay, so at the moment I have two different cases for the parser:

Number 1:
[code]
This is Unicode 8729 followed by WIN-1252 B7 -> Both are the "bullet point" character.
So this should be parsed as:
(src/main/javacc/net/sourceforge/MSGViewer/rtfparser/RTFParser.jj)
C_UNICODE (where we get the code point) followed by C_ESC_STRING which we just ignore/consume.

BUT, a few lines along my mail I got

[2022-09-20 12:25] ThomasChr commented on #136
The Pull Request will fix the problem.
I never ever wanted to go so deep into the (parser) rabbit hole, so be gentle to me :-)

[2022-09-20 20:29] lolo101 opened #140 "Convert RTF to HTML on msg parsing"
Currently, the RTF is decompressed on demand, and conversion of RTF to HTML occurs only when HTML is displayed in the ViewerPanel.
It would be nice that the HTML would also be rendered when saving as EML or MBOX.

[2022-09-20 20:31] lolo101 commented on #133
Sorry for the confusion.
You understood correctly what I said and what I said was what I intended to achieve but I realized afterward that I had a false assumption about the code: I thought the decompression of the RTF and the conversion of RTF to HTML occurred at the same time whereas it's not the case.
So indeed the issue is fixed, thank you very much for confirming that, but still, the code doe

[2022-09-21 20:14] lolo101 commented on #136
Hi @ThomasChr and thank you very much for your engagement :smiley:

That's right the <STRING> you want to get rid of is the placeholder (the char that should be displayed when the parser does not support Unicode). However, it seems that in your case the placeholder is not a <STRING> but a <C_ESC_STRING> which is unexpected :slightly_smiling_face:

I'll take a look at the PR as soon as I have a com

[2022-09-21 20:24] ThomasChr commented on #136
Take your time, no stress!

[2022-09-25 18:24] lolo101 commented on #137
Fixed with 312df2909bed9de81230923ef3f969f990511e34

[2022-09-25 18:24] #137 closed

[2022-09-27 06:51] #136 closed

[2022-09-28 16:12] mik0001 opened #143 "Set RTF/Text via parameter"
The option "RTF/Text" should be adjustable via parameter, e.g. :    -text
If this parameter is not set, "RTF" is default, if possible.

[2022-09-28 23:33] lolo101 commented on #143
Hi @mik0001 and thank you for your suggestion

However, could you be more specific? Are you talking about the possibility to converting a message that has an RTF body to a plain text message?

[2022-09-29 10:37] mik0001 commented on #143
Yes. I just want to have the Radiofield "Text" on the bottom of the frame as default on program-start with a given msg-file, when parameter "-text" is additionally set.

[2022-09-30 07:12] lolo101 commented on #143
Yes, that is possible to do. Could you tell me what is your use case?

I don't think it is worth adding a new CL option just to save a click. Hence I suppose you have a more constrained use case and I need to understand it to help you best.

[2022-10-04 07:41] ThomasChr commented on #143
Good morning lolo101,

let me explain that!
mik0001 is a colleque of mine. We are a small company providing ERP solutions for our customers. Our customers are used to highly customized software and so they have sometimes strange wishes :-)

In this case we're starting the msgviewer right from the command line with a msg-File. That works just fine but now the customers wants the Text Version to dis

[2022-10-04 07:50] ThomasChr commented on #143
Oh, I see there is some kind of config parameter for that?
![image](https://user-images.githubusercontent.com/13014163/193764276-bc3b342f-fe97-4b1f-b767-89b8fd0f40a1.png)
I'll check that!

[2022-10-04 07:57] ThomasChr commented on #143
I think that will work for us. Adding the following:
![image](https://user-images.githubusercontent.com/13014163/193765607-a6480888-3920-4967-812e-7dd8205eb9be.png)
to file:
`C:\Users\tchristlieb\MSGViewer\MSGViewer.properties`
does the trick!

I'm pretty sure we can add that to our application.

[2022-10-04 09:24] ThomasChr commented on #143
Okay, there is still a problem with the config file - it's only on a per user base.
If you have a system with many users that won't cut it.

So we need to add a start parameter or do you have a better idea?

[2022-10-04 19:55] lolo101 commented on #143
Hi @ThomasChr and thank you very much for the explanation :slightly_smiling_face:

I'm very honored to see MsgViewer used in a professional context.

I think this feature hardly deserves a command line switch and I'd rather implement a fallback system from the local config to a global config. I'll look into this.

Meanwhile, if you need this feature quickly you can of course implement it and propo

[2022-10-05 16:35] lolo101 commented on #143
This is an ad-hoc development. You don't need to bother with `isYes` and `map(s->"yes")`. You may just do something like
[code]
That would be a very acceptable workaround waiting for a global config

Is it ok for you?

[2022-10-05 16:37] ThomasChr commented on #143
Absolutely!
I will code the PR tomorrow!
Thanks for your help!

[2022-10-05 17:33] ThomasChr commented on #143
I'm not very good at patience, so here's the PR :-)

[2022-10-05 18:22] lolo101 commented on #143
It's merged 👍

[2022-10-05 18:27] ThomasChr commented on #143
Thanks a lot!
Should we close this Issue or leave it open?

[2022-10-05 19:40] lolo101 commented on #143
Let's close it as your PR solves the problem stated. I'll open a new one to improve the configuration

[2022-10-05 19:40] #143 closed

[2022-10-05 19:53] ThomasChr commented on #143
Would be glad to help with the new one if I can!

[2022-11-20 11:04] lolo101 opened #151 "Global configuration"
The application can be configured with user configuration file in $HOME/.MSGViewer

It would be nice to have a global configuration file under /etc/MSGViewer for cases where the application is not user-specific

[2022-11-20 11:10] lolo101 commented on #151
The global configuration is a fallback for when the local configuration is missing
The default configuration is a fallback when the global configuration is missing

[2022-11-20 13:19] lolo101 commented on #151
For Windows platforms, the configuration files should be located in
%LOCALAPPDATA%\MSGViewer
%ALLUSERSPROFILE%\MSGViewer

[2022-11-29 12:03] datsteves opened #152 "msg2eml / msg2mbox - "quoted-printable" chars are all the same in html"
Hey, me again.
we got hands on a rather weird msg (actually multiple) where umlaute, or any char that needs to be encoded slightly differently, is correct in the RTF and text portion, but the HTML gets them all encoded with the same char.
for example, in the text, there is
[code]
which will result in
[code]

but in the HTML, it then looks like
[code]
as you can see, it has always `=EF=BF=BD` set i